<% provide(:title, 'Log In') %>

<div class="row">
  <div class="col-md-6">
    <%= form_tag sessions_path, class: "login-form" do %>
      <%#= flash_error %>

      <div class="form-group">
        <%= label_tag :email %>
        <%= email_field_tag :email, '', class: 'form-control', autofocus: true %>
      </div>

      <div class="form-group">
        <%= label_tag :password %>
        <%= password_field_tag :password, '', class: 'form-control' %>
      </div>

      <%= submit_tag "Log in", class: "btn btn-primary pull-right" %>
    <% end %>
  </div>
</div>
