<!DOCTYPE html>
<html ng-app="ringbase">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= yield(:title) + ' | '  if content_for?(:title) %>RingBase</title>
  <%= stylesheet_link_tag :application %>
  <%= csrf_meta_tags %>
</head>

<%# TODO: hack for demo %>
<% body_bg_color = current_page?(login_path) ? '#f6f6f6' : '#fff' %>
<body style="background-color: <%= body_bg_color %>">

  <%= render 'shared/header' %>

  <%= yield(:before_container) %>

  <div class="container">
    <% if signed_in? %>
      <div class="row">

        <%= render 'shared/notification_bar' %>
        <%= render 'shared/sidebar' %>

        <div class="col-md-10 main-content">
          <div ng-view></div>
        </div>
      </div>
    <% else %>
      <%= yield %>
    <% end %>
  </div><!-- .container -->

  <%= javascript_include_tag :application %>
</body>
</html>
